#root {
  position: absolute;
  top: 0;
  width: 100vw;
  /* margin: .5rem 10rem; */
  padding: 2rem;
  text-align: center;
}

.container{
  width: 100%;
  position: static;
  padding:0.7rem;
}

.search{
  width: 100% !important;

}

.logo{
  padding-right: 10px;
}

.cardsbody{
}

.cardtitle{
  font-weight: 500;
}

.cards {
  /* margin-top: 0.3rem;
  margin-bottom: 0.3rem; */
}

@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.grid-container {
  
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 601px) and (max-width: 1300px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }}

.cards .cardtitle{
  
}